html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  line-height: 1.67;
  font-size: 14px;
  color: $font-color;
  font-family: "Lato", "Source Han Sans CN", "Microsoft YaHei", sans-serif;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  background: $dark;
  min-width: 960px;
  font-weight: 400;
}
.h-full {
  height: 100%;
}
.w-50 {
  width: 50%;
  margin: 0 auto;
}
.bg-dark {
  background: $dark;
}
.flex {
  display: flex;
  height: 100%;
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}

.menu-item {
  padding: 4px 24px;
  color: rgb(226, 232, 240);
  text-decoration: none;
  &:hover,
  &.router-link-exact-active {
    color: $active-color;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.p-0 {
  padding: 0;
}
.p-12 {
  padding: 12px;
}
